html {
    position: relative;
    min-height: 100%;
}

#tree {
    padding-bottom: 1em;
}
  
body {
    font-size: small;
}

.btn {
    margin: 5px;
}

.action {
    padding: 1em;
}

#substance {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: block;
  }
